@import "reset.css";
.fl{float: left;}
.fr{float: right;}
.ma{margin: 0 auto;}
.db{display: block;}
.di{display: inline;}
.c-r{clear: right;}
.c-l{clear: left;}
.c-b{clear: both;}
.p-r{position: relative;}
.p-a{position: absolute;}
.pad-t50{padding-top: 50px;}
.pad-t20{padding-top: 20px;}
.t-r-90{transform: rotate(-90deg);}
.bgc-black{background-color: black;}
.bgc-white{background-color: #FAEBD7;}
.z-i-1 {z-index: -1;}
.z-i-2 {z-index: -2;}
.z-i_2 {z-index: 2;}
.z-i_3 {z-index: 3;}