@import "lib.css";
h3{
	display: block;
	float: left;
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 40px;
	margin-left: 13%;
	color: #453c37;
}
h4{	
	font-family: Arial, sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 40px;	
	color: #453c37;
}
p{
	font-family: Palatino, "Palatino Linotype", serif;
	font-weight: 500;
	font-size:  12px;
	line-height: 20px;	
	color: #453c37;
}
a{
	font-family: Times, "Times New Roman", serif; 
	font-weight: 700;
	font-size: 12px;
	line-height: 20px;
	color: #fcfaea; 
	text-decoration: none;
}
.head{	
	height: 100px;
	background-image: url("bg-turq.jpg");		
}
.logo a{margin-left: 160px;}
.nav{width: 600px;}
.nav ul li{float: left;}
.nav ul li a{
	display: block;
	width: 100px;
	height: 110px;
	background-image: url("nav-main.png");	
}
.about{background-position: 0px 0px;}
.cont{background-position: -110px 0px;}
.rest{background-position: -210px 0px;}
.store{background-position: -310px 0px;}
.about:hover{background-position: 0px -200px;}
.cont:hover{background-position: -110px -200px;}
.rest:hover{background-position: -210px -200px;}
.store:hover{background-position: -310px -200px;}

.bg-container{
	height: 440px;
	background-image: url("bg-turq.jpg");
}
.buter{
	margin-left: 7%;
	margin-top: -40px;
}
.paper{
	width: 100%;
	height: 50px;
	background-image: url("bg-paper-top.png");	
	margin-top: -80px;
}
.container{	
	height: 280px;
	background-color: #FCFAEA;
}
.line{
	background-image: url("slash-div-cream.png");
	margin-left: 145px;
	width: 950px;	
	height: 15px;
}
.center-block{	
	width: 975px;
	margin-left: 11%;	
}
.center-block ul li{float: left;}
.center-block ul li a{
	display: block;
	width: 325px;
	height: 180px;
	background-image: url("big-home-links.png");
	background-repeat: no-repeat;	
}
.one{background-position: 0px 0px;}
.two{background-position: -325px 0px;}
.three{background-position: -650px 0px;}
.one:hover{background-position: 0px -200px;}
.two:hover{background-position: -325px -200px;}
.three:hover{background-position: -650px -200px;}

.foot-container{
	background-image: url("bg-footer.jpg");
	height: 280px;	
}
.footer{	
	height: 190px;
	margin-left: 10%;
	text-align: left;
	margin-top: 50px;
}
.adress, .time{
	width: 200px;
	margin-right:20px;
	float: left;	
}
.footabout, .footrest, .footstore{
	width: 150px;		
	margin-right:20px;
	float: left;
}
.end{	
	height: 30px;	
	text-align: center;
	color: #d6cabb; 
	border-top: dotted 1px #d0cdb8;
	padding-top: 10px;
}