@import "lib.css";
body{
  font-size: 27.3px;
  font-family: "Myriad Pro";
  color: #fdfbfb;
  text-align: center;  
}
a{
	display: block;
	text-decoration: none;
	font-size: 15.3px;
	line-height: 25.3px;
  color: #c4c4c4; 
}
p{
  width: 405px;
  float: left;
  font-size: 37.3px;
  line-height: 37.3px;
  color: #c4c4c4; 
  margin-top: 20px;
}
header{  
  position: relative;
  height: 57px; 
  background:url(bg.png) repeat 100%; 
}
nav{
  position: absolute;
  width: 750px;
  height: 57px;
  clear: both;
  top: 57px;
  left: 397px;  
  display: none; 
 }
nav a{  
  width: 120px;
  height: 57px;  
  float: right;
  display: inline-block;
  background:url(bg.png) repeat 100%; 
  border: 3px solid #5491a0;
  border-radius: 5px;
  margin: 0px 10px;
  color: #fdfbfb;
  text-align: center;
  line-height: 57px;  
}
section{
  width: 900px;
  height: 65px;
  float: left;
  margin:7px 0px 0px 313px;
  padding: 20px;
  clear: both; 
}
button{
  width: 256px;
  height: 62px;
  float: left;
  margin:0px 30px;
  font-family: "Myriad Pro";
  font-size: 35px;
  line-height: 35px;
  background-color: #8fcddc;
  color: #fdfbfb;
  line-height: 62px;
  border: none;
  cursor: pointer;
}
span{
  float: left;
  clear: both;
  margin:25px 520px 15px 500px;
  font-size: 23.3px;
  line-height: 23.3px;
  color: #636363; 
}
hr{
  width: 100%;
  height: 0.7px;
  clear: both;
  color: #c4c4c4;
  opacity: 0.3;
}
li{
  width: 135px;
  height: 130px;
  float: left;
  margin-right:75px;
  display: inline;  
  text-align: left;
}
footer{
  width: 1100px;
  height: 250px;
  margin-left: 165px;
}
input{ 
  display: inline;
  float: left;  
  margin-top: 30px;
  font-size: 21.3px;
  font-weight: 100;
  line-height: 43px;
  padding-left: 10px;
  background-color: #fdfbfb; 
  border:none;
}
label{ 
  float: left;
  margin-left: 40px;
  line-height: 35px;
  opacity: 0.6;
}
input[type="text"]{  
  width: 350px;
  height: 41px;
}
.wrapper{
  width: 1280px;
  margin: 0 auto;
}
.base{
	height: 485px;
	background-image: url(header.jpg);
}
.logo{
  width: 110px;
  height: 28px;
	padding-left: 136px;
	padding-top: 13px;
	padding-bottom: 17px;
  cursor: pointer;
}
.menu{
  height: 57px;  
  padding-right: 130px;
 }
 .menu img:hover{background-color: #5491a0;} 
 .menu:hover nav{display: block;} 
 nav a:hover{border: 3px solid #fdfbfb;}

.search{
  width: 450px;
  height: 140px; 
  margin-top: 137px;
  margin-left: -114px; 
}
.arrow-left{
  margin: 220px 0px 0px 28px;
  cursor: pointer;
}
.arrow-right{
  margin: 220px 0px 0px 1220px;
  cursor: pointer;
}
.copyright{
  width: 100%;
  height: 40px;
  margin-top: 15px;
  background-color: #484242;
  }
.copyright p{  
  margin-left: 412px;
  font-size: 17.3px;
  color: #c4c4c4; 
  line-height: 1px;
}