p{
	 text-align: justify;
	 
}
h5{
	 text-align: center;
	 
}
body{
	background: antiquewhite;
}

header {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
    margin: 0 auto;
    display: flex;
    flex-direction: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
	background: rgba(207, 207, 207, 0.46);
}
.main {
    width: 100%;
    max-width: 957px;
    min-width: 430px;
    display: flex;
    flex-direction: row;
    margin: 2px;
    justify-content: space-between;
	background: rgb(239, 239, 239);
}
.hd1 {
    width: 100%;
    min-width: 130px;
    max-width: 352px;
    height: 278px;
    display: flex;
    flex-direction: row;
    margin: 2px;
    justify-content: center;
	background: url(images/aplle.png);
}
.hd1_in {
    width: 100%;
    min-width: 81px;
    max-width: 160px;
    height: 65px;
    display: flex;
    margin-top: 26px;
    align-self: center;
}
.hd2 {
    width: 240px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 2px;
    justify-content: space-between;
}
.hd3 {
    width: 100%;
    min-width: 130px;
    max-width: 258px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    justify-content: center;
}

.choice {
    width: 100%;
    min-width: 100px;
    max-width: 193px;
    height: 34px;
    margin: 2px;
    display: flex;
    align-self: center;
    border-bottom: 1px dashed rgba(33, 128, 2, 0.69);
    align-items: flex-end;
}
.choice a{
    text-decoration: none;
	color: #70706F;
    display: block;
	font-size: 23px;
    font-family: fantasy;
	-webkit-transition: -webkit-transform 0.2s ease-in;
	
}

.choice a:hover{
    display: block;
	-webkit-transform: translate(40px);
	cursor: pointer;
	color: #9CC208;
}

.main1 {
    width: 949px;
    height: 16px;
    display: flex;
    flex-direction: row;
    margin: 2px;
    justify-content: space-between;
}

/*BODY*/
section {
    min-width: 430px;
    max-width: 959px;
    height: 546px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: url(images/layer.png);
	flex-wrap: wrap;
}
.block {
    min-width: 226px;
    max-width: 310px;
    height: 483px;
    display: flex;
	flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    background: rgba(66, 64, 64, 0.22);
}
.news {
    min-width: 131px;
    max-width: 303px;
    height: 37px;
    display: flex;
    justify-content: space-between;
	align-self: center;
}
.news1 {
    min-width: 209px;
    max-width: 303px;
    height: 117px;
	padding: 11px;
	display: inline;
	font-family: cursive;
	border-bottom: 1px solid rgba(153, 192, 0, 0.88);
}
.button {
    min-width: 87px;
    max-width: 80px;
    height: 20px;
    display: inline;
	float: right;
	background: url("images/batton.png");
}
.button{
    background-position: -1px -3.3px;
}
.button:hover {
    background-position: -85px -35px;
}
.block1 {
    min-width: 486px;
    max-width: 945px;
    height: 186px;
    display: flex;
    flex-direction: column;
    margin: 8px;
    background: rgb(255, 255, 255);
}
.welcome {
    min-width: 200px;
    max-width: 303px;
    height: 70px;
    display: flex;
    margin: 8px;
}
.welcome1{
    min-width: 200px;
    max-width: 570px;
    height: 73px;
	font-size: 12px;
    margin: 8px;
	font-family: sans-serif;
	color: gray;
	text-align: justify;
}
.block2 {
    min-width: 397px;
    max-width: 614px;
    height: 186px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 8px;
    justify-content: center;
    background: rgba(66, 64, 64, 0.57);
}
.blockF {
	min-width: 286px;
    max-width: 239px;
    height: 108px;
    display: flex;
    flex-direction: row;
    margin: 3px;
	font-family: sans-serif;
    text-align: justify;
	font-size: 11px;
    padding: 2px;
	text-decoration: underline;
}
.blockF1 {
	min-width: 286px;
    max-width: 239px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 3px;
    justify-content: space-between;
}
.block3 {
	min-width: 209px;
    max-width: 800px;
    height: 142px;
    display: flex;
    align-self: flex-end;
    background: url("images/real_madrid.png") no-repeat;
}

