body{
    margin: 0;
    background: #FCFAEA;
}

.container{
    width: 100%;
    margin: 0;


}

header{
    width: 940px;
    margin: 0 auto 0;
    height: 87px;
}

.header-wrap{
    background-image: url("images/bg-turq.jpg");

}

.logo-wrap{
    /*float: left;*/
    display: inline-block;
    text-align: left;
}

nav{
    float: right;
    display: inline-block;
    text-align: right;
}

.main{
    clear: both;
    width: 100%;

}

.main>div:first-child{
    background-image: url("images/bg-turq.jpg");
}

nav>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    width: 110px;
    height: 80px;
    display: inline-block;
    background: url("images/nav-main1.png") no-repeat;
}

nav>ul>li>a:hover{
    background: url("images/nav-main2.png") no-repeat;
}

nav>ul>li:nth-child(1)>a{
    background-position:  5px 10px;
}
nav>ul>li:nth-child(2)>a{
    background-position:  -100px 10px;
}
nav>ul>li:nth-child(3)>a{
    background-position:  -210px 10px;
}
nav>ul>li:nth-child(4)>a{
    background-position:  -320px 10px;
}


nav>ul>li:nth-child(1)>a:hover{
    background-position:  5px 10px;
}
nav>ul>li:nth-child(2)>a:hover{
    background-position:  -100px 10px;

}
nav>ul>li:nth-child(3)>a:hover{
    background-position:  -210px 10px;
}
nav>ul>li:nth-child(4)>a:hover{
    background-position:  -320px 10px;
}


.content-top{

    width: 1100px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;

}

.content-bot{
    padding-top: 64px;
    margin-top: -64px;
    background: url("images/bg-paper-top.png") repeat-x 50% 0;

}

.content-wrap{
    margin: 0 auto;
    width: 959px;
    height: 180px;


}
.content-wrap>ul{

    list-style: none;
    background: url("images/slash-div-cream.png") no-repeat 0 0;
    padding: 0;
    margin: 0 0 0 -10px;
}

.content-wrap>ul li{
    display: inline-block;

}

.content-wrap>ul>li>a{
    display: inline-block;
    height: 179px;
    background: url("images/big-home-links.png") no-repeat;
}

.content-wrap>ul li:nth-child(1) a{
    width: 323px;
}

.content-wrap>ul li:nth-child(1) a:hover{
    background-position: 0 -200px;
}

.content-wrap>ul li:nth-child(2) a{
    background-position: -323px 0;
    width: 318px;
}

.content-wrap>ul li:nth-child(2) a:hover{
    background-position: -323px -200px;
}
.content-wrap>ul li:nth-child(3) a{
    background-position: -641px 0;
    width: 318px;
}

.content-wrap>ul li:nth-child(3) a:hover{
    background-position: -641px -200px;
}
