*{list-style: none;}
body{	 
	font: 20px serif;	
	background-color: #9CBC2B;
	height: 1150px;
}
#form{
	margin: 0 auto;
	width: 600px;	
}
fieldset{
	border: none;
	padding: 0px;
}
legend{
	border: none;
	font-weight: bold;
	margin-left:40px; 	
}
li{
	display: block;
	width: 500px;
	height: 40px;
	border: 2px solid #E8F1D4;
	background-color: #B9CF6A;
	border-radius: 5px;
	padding: 5px;	
}
input, textarea{
	font-style: italic;
	font-size: 18px;
	border-radius: 1px;
	margin: 5px 80px 0px 0px;
	padding: 5px;
	border-radius: 5px;	
	display: block;
	float: right;
}
input[type="radio"]{ 
    margin:  10px;
    display: inline;
	float: none;
}
img{
	width: 25px;
	height: 13px;
	border: 1px solid #E8F1D4;
	border-radius: 2px;	
	margin-right: 5px;
}
input[type="submit"]{
	display: block;
	width: 100px;
	height: 30px;
	background-color: #3C4612;
	border-radius: 30px;
	border: none;
	float: left;
	margin-left: 250px;
	color: white;
	font-family:serif;
	font-weight: 500;
	font-style: normal;
}
label:hover{cursor: pointer;}
input[type="submit"]:hover{
	transform: scale(2,2);
	cursor: pointer;
	border: none;
}
input:focus, textarea:focus{
	border:2px solid green;
	background-color: #C6D0A2;
	transform: scale(1.1,1.1);
}
input[type="radio"]:focus{transform: scale(2,2)}
.address{height: 200px;}
.card{height: 100px;}
.card>p{margin: 5px;}