div.top-menu {
	
}
.menu {
	margin:0px;
	padding:0px;
	list-style:none;
	/* магия */
	position: relative;
	left:50%;
		/* конец магии */
	float: left;

}
.menu-item {
	float:left;
	margin:0 5px 0 5px;
	padding:0px;
	background: #E1E1E1;
	/* вторая часть магии */
	position: inherit;
	right:50%;
	/*магия закончилась */
}
.menu-item a{
	display:block;
	padding:15px 20px;
}
.submenu {
	display:none;
	position:absolute;
	margin:0;
	padding:10px;
	list-style:none;
	background: #E1E1E1;
}
.menu-item:hover .submenu {
	display:block;
}
.submenu-item {
	margin:0px;
	padding:0px;
	width:100px;
}

