body {
    display: flex;
    justify-content: center;
}

.imager::before {
		content:"В матче первого круга между этими командами состав Металлиста выглядел следующим образом: Погорелый, Рыжук, Курилов, Путивцев, Нойок, Ковальчук, Довгий, Рудыка, Лепа, Приемов, Беседин. Но, несмотря на всю боеспособность этого состава, тогда для Металлиста все закончилось печально – 0:5. Шахтер просто уничтожил соперника и обыграл реально в одни ворота.";
		width:300px;
		margin:10px;
	}
.imager::after{
		content:"В матче первого круга между этими командами состав Металлиста выглядел следующим образом: Погорелый, Рыжук, Курилов, Путивцев, Нойок, Ковальчук, Довгий, Рудыка, Лепа, Приемов, Беседин. Но, несмотря на всю боеспособность этого состава, тогда для Металлиста все закончилось печально – 0:5. Шахтер просто уничтожил соперника и обыграл реально в одни ворота.";
		width:300px;
		margin:10px;
	}

.imager{
    width: 800px;
    height: 253px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    margin: 5px;
    border: solid;
}

