.border{
    margin: 4px auto;
    border: 1px solid white;
    width: 394px;
    height: 42px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.41)
}

.border2{
    margin: 4px auto;
    border: 1px solid white;
    width: 394px;
    height: 139px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.41)
}

.border3{
    margin: 4px auto;
    border: 1px solid white;
    width: 394px;
    height: 68px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.41)
}

p{
    float: left;
    margin-right: 72px;}

.input{	
    width: 251px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.58);
    margin-top: 8px;
}
.input2{	
    margin-top: 20px;
}
.input3{
	background: brown;
    border: 0;
    width: 107px;
    height: 36px;
    border-radius: 21px;
}
.input3:hover{
	background: green;

}
.heder{
	text-align: center;
    margin-left: -262px;
	text-shadow: #fff -1px -1px 0, 
                 #333 1px 1px 0;
}

.textarea1{
	height: 122px;
    width: 244px;
    margin-top: 12px;
}
.fieldset{
	border:0;
	width:0;
	margin: 0 auto;
}