*{list-style: none;}
#nav{
    text-align: center;
    line-height: 65px;
    font-family: Monaco,'Courier New', monospace;
    font-size: 20px;
    color: #1e1111;
    font-family: cursive;
    width: 1100px;
    margin: 0 auto;
}
#nav ul li{
    width: 200px;
    float:left;
    position: relative;
    border: 1px solid #531730;
    background-color: antiquewhite;
    margin-left: 10px;
    box-shadow:         3px 5px 23px 0px rgba(90, 50, 50, 0.59);
    -webkit-box-shadow: 3px 5px 23px 0px rgba(90, 50, 50, 0.59);
    -moz-box-shadow:    3px 5px 23px 0px rgba(90, 50, 50, 0.59);
}
#nav ul li a{
    display: block;
    text-decoration: none;
}
#nav ul li a:hover{
    background-color: #977181;
    text-decoration: underline;
    color: antiquewhite;
}
#nav .dropdown{
    margin-left: -51px;
    position: absolute;
    display: none; 
}
#nav li:hover .dropdown{
    display: block; 
}