body {
	display:flex;
	justify-content:center;
}
.main {text-align:justify}
.border{border:1px solid green}
	.img::before {
		content:"Адаптивная разметка требует совершенно иного образа мышления при планировании структуры макета, что является одновременно и сложным и интересным. Чтобы перепрограммировать свой мозг, чтобы посмотреть на макеты по-новому, мы собираемся взглянуть на некоторые интересные шаблоны адаптивной разметки, которые были созданы талантливыми дизайнерами по всему вебу.";
		width:300px;
		float:left;
		margin:10px;
	}
	.img::after{
		content:"Одним из самых популярных способов создания адаптивного веб-дизайна является назначение резиновой ширины колонкам контента на странице, которые становятся все уже и уже по мере того, как уменьшается ширина страницы. Пока наконец не происходит один большой переход к одной колонке для мобильных устройств. Эту технику в работе можно увидеть на сайте одного роскошного отеля 137 Pillars House";
		width:300px;
		float:right;
		margin:10px;
	}
